.input-color{
    width: 100%;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    transition: .3s;
    border-radius: 4px;
    color: #0a0a0a;
    font-weight: 600;
    background-color: #dddddd50;
    height: 43px;
}

.input-color-div{
    display: flex;
    gap: 10px;
}

.input-color-div div{
    width: 50%;
}