div#compContact h1 {
    text-align: center;
}

div#basicInfo {
    display: flex;
}

div#basicInfo a {
    text-decoration: none;
    color: black;
    transition: color 500ms;
}

div#basicInfo a:hover, div#basicInfo p:hover {
    color: #98b126;
    transition: color 500ms;
}

div#basicInfo > div {
    flex-grow: 1;
}

div#basicInfo p {
    margin: 0.5rem;
}

div#basicInfo svg {
    width: 2rem;
}

@media (max-width: 991px) {
    div#basicInfo {
        display: inline;
    }

    div#compContact {
        padding: 1rem 1.5rem;
    }
}