header{
    height: 75px;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

header div{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 1240px) {
    header div{
      padding: 0 30px;
      box-sizing: border-box;
    }
  }