section#aboutUs div#contentMiddle p#supporters {
  font-weight: 900;
}

section#aboutUs img.sponsor {
  width: 75px;
  margin-right: 1rem;  
}

section#aboutUs div#sponsorsContainer {
  min-height: 100px;
  animation: 500ms ease-out sponsorAppear;
}

@keyframes sponsorAppear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes colorTitle {
  25% {
    color: #98b126;
  }
  50% {
    color: #e30613;
  }
  100% {
    color: black;
  }
}
