section#city, section#history {
    text-align: center;
}

section#city div#basicInfo {
    display: flex;
    justify-content: space-around;
    text-align: start;
}

section#city div#basicInfo p {
    margin: 8px 0 8px 8px;
}

section#city div#basicInfo > div {
    display: flex;
}

section#city div#basicInfo div.infoIconContainer {
    display: block;
    margin: auto;
}

section#city div#basicInfo div.infoIconContainer svg {
    height: 30px;
}

section#imagesCity ul {
    display: block;
    width: 100%;
    height: 30rem;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

section#imagesCity ul li {
    list-style: none;
    position: absolute;
}

section#imagesCity ul li img {
    margin: auto;
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}