section#city,
section#history {
    text-align: center;
}

section#city div#basicInfo {
    display: flex;
    justify-content: space-around;
    text-align: start;
}

section#city div#basicInfo p {
    margin: 8px 0 8px 8px;
}

section#city div#basicInfo > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#city div#basicInfo div.infoIconContainer {
    display: block;
}

section#city div#basicInfo div.infoIconContainer svg {
    height: 30px;
}

section#imagesCity ul {
    display: block;
    width: 100%;
    height: 30rem;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

section#imagesCity ul li {
    list-style: none;
    position: absolute;
}

section#imagesCity ul li img {
    margin: auto;
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

section#cityLocation div#cityContainer {
    display: flex;
    justify-content: center;
}

section#cityLocation div#cityContainer div#flagIcon {
    width: 40px;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

section#cityLocation div#locationGeo {
    display: flex;
    justify-content: center;
}

section#cityLocation div#locationGeo iframe {
    border: none;
}

@media (max-width: 991px) {
    section#city div#basicInfo {
        display: inline;
    }

    section#city div#basicInfo div.infoIconContainer {
        margin: 0;
        padding-left: 25vw;
    }

    section#cityLocation div#cityContainer {
        justify-content: start;
        padding-left: 25vw;
    }

    section#history {
        padding: 0 1rem;
    }

    section#city div#basicInfo > div {
        justify-content: start;
    }
}
