main {
    background-color: rgb(252, 252, 252);
    min-height: 100vh;
}

body {
    font-family: "Raleway", sans-serif;
}

.row {
    display: flex;
    align-items: center;
}

.icon {
    max-width: 1.5rem;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

section.mainSection {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

section.mainSection.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media (max-width: 991px) {
    .container {
        width: auto;
        max-width: 990px;
    }

    main {
        padding-top: 92px;
    }

    .mob-mb-05 {
        margin-bottom: 0.5rem;
    }
}
